<p>Dear Network Admin,</p>
<p>The following routes have changed: </p>
{%- for changed_route in changed_routes %}
<h3>From {{ changed_route.source_domain }} to {{ changed_route.destination_domain }}</h3>
<table border=1>
    <tr>
        <th>Hop:</th>
        <th>{{ changed_route.previous_test_time }}<br>Previous Test: </th>
        <th>RTT (ms):</th>
        <th>{{ changed_route.current_test_time }}<br>Current Test: </th>
        <th>RTT (ms):</th>
    </tr>
    {%- for routes in changed_route.previous_and_current_route %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ routes[0].domain }}</td>
        <td>{{ routes[0].rtt }}</td>
        <td>{{ routes[1].domain }}</td>
        <td>{{ routes[1].rtt }}</td>
    </tr>
    {%- endfor %}
    </table>
{%- endfor %}
<p>Kind regards,<br>
psTrace</p>