<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='refresh' content='1800'>
    <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
        text-align: left;
    }
    td {
        padding: 7px;
    }
    </style>
</head>
<body>
    <h2>Traceroute: {{ source_ip }} to {{ dest_ip }}</h2>
    <p><strong>Latest Test:</strong>{{ end_date }}</p>
    <p><strong>Source Node: </strong>{{ source_ip }}<br>
        <strong>Destination node: </strong>{{ dest_ip }}</p>
    <p><strong>Median Hop RRT</strong> calculated from
        <strong>{{ start_date }} &#8594; {{ end_date }}</strong></p>
    <table border='1'>
    <tr>
        <td>Hop</td>
        <td>Domain</td>
        <td>IP</td>
        <td>ASN</td>
        <td>RTT (ms)</td>
        <td>Min. RTT (ms)</td>
        <td>Median RTT (ms)</td>
        <td>Threshold (ms)</td>
        <td>Notification</td>
    </tr>
    {%- for hop in traceroute %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ hop.domain }}</td>
        <td>{{ hop.ip }}</td>
        <td>{{ hop.as }}</td>
        <td>{{ hop.rtt }}</td>
        <td>{{ hop.min }}</td>
        <td>{{ hop.median }}</td>
        <td>{{ hop.threshold }}</td>
        {%- if 'warn' in hop.status %}
            <td>&#10008; - WARN: Latency > {{ hop.threshold }}</td>
        {%- elif 'okay' in hop.status %}
            <td>&#10004; - OK</td>
        {%- else %}
            <td>&#10008; - UNKNOWN: {{ hop.threshold }}</td>
        {%- endif %}
    </tr>
    {%- endfor %}
    </table>
    {%- if historical_routes %}
        <h2>Historical Routes</h2>
        {%- for historical_route in historical_routes %}
            <p>{{ historical_route.timestamp }}</p>
            <table border='1'>
            <tr><td>Hop</td><td>Domain</td><td>ASN</td><td>RTT (ms)</td></tr>
            {%- for route_details in historical_route.layer3route_asn_rtt %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ route_details[0] }}</td>
                    <td>{{ route_details[1] }}</td>
                    <td>{{ route_details[2] }}</td>
                <tr>
            {%- endfor %}
            </table>
        {%- endfor %}
    {%- endif %}
    <br>
    <hr>
    <p style='color:grey; font-size:7pt;'>This page will refresh every 30 minutes</p>
</body>
</html>